@font-face {
  font-family: 'title';
  src: url('../fonts/DEFTONE.ttf');
}

@font-face {
  font-family: 'header';
  src: url('../fonts/OSP-DIN.ttf');
}

@font-face {
  font-family: 'body';
  src: url('../fonts/luxisr.ttf');
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

body {
  background-color: black;
  background-image: url('../images/incomplbg.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  font-family: 'body';
  color: #eaeaea;
  margin: 0;
  padding: 0;
}

a:link {
  color: #eaeaea;
  background-color: #004345;
  text-decoration: none;
  text-shadow: 1px 1px 0 black;
  padding: 0 1px 1px;
}

a:visited {
  color: #eaeaea;
  background-color: #363636;
}

a:active {
  background-color: black;
  color: white;
}

a:hover {
  background-color: #00877C;
  color: white;
}

h1 {
  font-size: 2em;
  margin: 0 0 .5em;
  font-family: 'header';
  font-weight: normal;
}

h2 {
  font-size: 1.2em;
  margin: 0;
  padding: .5em 0 0;
  font-family: 'header';
  font-weight: normal;
}

header {
  height: 167px;
  margin: 57px 0 0;
}

header h1 {
  margin: 0;
  text-align: center;
  font-size: 5em;
  font-family: 'title';
}

header h2 {
  color: #b5ffe7;
  text-align: center;
  font-size: 2em;
  text-shadow: 2px 2px 0 #3B3B3B;
  padding: 12px 0 0;
}

header a:link, header a:visited {
  color: #3effc2;
  background-color: transparent;
  text-shadow: 3px 3px 0 #3B3B3B;
}

#contentWrapper {
  background-color: black;
}

#content {
  padding: 1em;
  max-width: 900px;
  margin: 0 auto;
}

#content section {
  clear: both;
}

#content figure {
  float: left;
  margin: 0 1em 0 0;
}

#content figure a {
  background-color: transparent;
}

#content figure img {
  width: 200px;
  border: solid black 3px;
}

#content figure#me img {
  width: 260px;
}

#content figure a img {
  border-color: #004345;
}

#content figure a img:hover {
  border-color: #00877C;
}

#content p {
  margin: .5em 0;
}

#content aside {
  float: right;
  width: 75px;
  height: 180px;
  padding: 10px;
  margin: 0 0 0 1em;
  text-align: right;
  font-size: 1.2em;
}

#content aside ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#content aside ul li {
  margin: 0 0 .5em 0;
}

section section {
  margin: 1em;
}

#bio, .project {
  margin: 0 0 1em;
}

.project h1 {
  padding: .8em 0 0;
  margin: 0 0 .3em;
  height: 1em;
  overflow: hidden;
}

.project h1 a {
  text-shadow: 2px 2px 0 black;
}

.project h2 {
  font-family: body;
  padding: 0 0 2px;
}

footer {
  text-align: center;
  background-color: #0f0f0f;
  color: #4d4d4d;
  padding: 1px 0 3px;
}

footer a:link, footer a:visited {
  background-color: #0f0f0f;
  color: #616161;
  background-color: transparent;
}

footer a:hover {
  color: #eaeaea;
  background-color: black;
}

#contact {
  display: none;
}


@media screen and (max-width: 640px) {
  #content figure#me {
    display: none;
  }

  .project h1 {
    padding: 3px 0 0;
    margin: 0 0 .3em;
  }
}

@media screen and (max-width: 480px) {
  #content figure img {
    width: 100px;
  }
}
