@font-face {
  font-family: 'title';
  src: url('../fonts/DEFTONE.ttf');
}

body {
  background-color: #111;
  color: #ccc;
  margin: 0 1em;
  font-size: 14px;
}

a {
  color: #D08E4D;
}

a:hover {
  color: #D08E4D;
  background-color: #4C2600;
}

h1, h2 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: normal;
}

header {
  text-align: center;
  margin: 1em 0 1em;
}

header a {
  color: rgb(255, 237, 243);
  text-decoration: none;
  text-shadow: 2px 2px 0 #E5255F;
}

header a:hover {
  color: rgb(255, 237, 243);
  background-color: transparent;
}

header h1 {
  font-family: 'title';
  font-size: 5em;
  margin: .1em 0 .2em;
}

header h2 {
  font-size: 1.6em;
  margin: 0 0 1em 0;
  text-shadow: 2px 2px 0 black;
  color: rgb(245, 220, 228);
}

section h1 {
  font-size: 1.5em;
}

section h2 {
  font-size: 1.1em;
  font-weight: normal;
}

#content-wrapper {
  margin: 0 1em;
}

#content {
  margin: 0 auto;
  max-width: 1000px;
}

#bio {
  overflow: auto;
  max-width: 800px;
  margin: 0 auto;
  display: relative;
}

#bio h1 {
  color: rgb(245, 220, 228);
}

#about {
  max-width: 500px;
  margin: 0 0 1em 0;
}

#me {
  float: right;
  max-width: 40%;
  margin: 0 0 1em 1em;
}

#projects {
  overflow: auto;
  background-color: #ddd;
  color: #222;
  padding: 1em;
}

#projects a {
  color: #7E160A;
}

#projects a:hover {
  background-color: #E2B0AA;
}

#projects h1 {
  margin: .5em 0 0 0;
}

#projects h1 a {
  text-decoration: none;
}

#projects h2 {
  margin: .5em 0;
}

.project {
  overflow: auto;
}

.project figure {
  margin: 0;
}

.project img {
  max-width: 25%;
  float: left;
  margin: 0 1em 1em 0;
  border: solid transparent 3px;
}

.project a:hover img {
  border-color: #E27C70;
}

.project p {
  clear: left;
}

#more {
  margin: 1em 0;
}

#more .project {
  margin: .5em 0;
}

footer {
  padding: .3em 0;
  text-align: center;
  background-color: black;
  margin: 0 0 .8em 0;
}

footer a {
  color: #444;
}

footer a:hover {
  color: #aaa;
  background-color: #111;
}

@media screen and (min-width:700px) {
  body {
    font-size: 1.1em;
  }

  #me {
    margin-left: 3%;
  }

  #links, #articles {
    float: left;
  }

  #links {
    margin: 0 4% 0 0;
    max-width: 18%;
  }

  #articles {
    max-width: 35%;
  }

  #projects {
    padding: 1em 0;
  }

  #projects h1 {
    margin: 1em 0 0 0;
  }

  .project-group {
    max-width: 45%;
    margin-left: 3%;
    float: left;
  }

  .project-group:last-child {
    margin-right: 3%;
  }

  .project img {
    max-width: 35%;
  }

  #more {
    clear: left;
    
  }

  #more-projects {
    -moz-column-count: 2;
    -moz-column-gap: 1em;
    -webkit-column-count: 2;
    -webkit-column-gap: 1em;
    column-count: 2;
    column-gap: 1em;
  }
}