@font-face {
  font-family: 'title';
  src: url('../fonts/DEFTONE.ttf');
}

@font-face {
  font-family: 'header';
  src: url('../fonts/luxisr.ttf');
}

@font-face {
  font-family: 'body';
  src: url('../fonts/luxisr.ttf');
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

body {
  background-color: black;
  background-image: url('../images/snow.gif');
  background-repeat: repeat;
  font-family: 'body';
  color: #eaeaea;
  margin: 0;
  padding: 0;
}

a:link {
  color: white;
}

a:visited {
  color: #eaeaea;
  background-color: #363636;
}

a:active {
  background-color: black;
  color: white;
}

a:hover {
  background-color: #7F2C01;
  color: white;
  text-shadow: 1px 1px 0 black;
}

h1 {
  font-size: 2em;
  font-family: 'header';
  font-weight: normal;
}

h2 {
  font-size: 1.2em;
  margin: 0;
  padding: .5em 0 0;
  font-family: 'header';
  font-weight: normal;
}

header {
  height: 250px;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  background-image: url('../images/mebg.jpg');
  background-position: 0px -250px;
  background-repeat: no-repeat;
  background-size: 100%;
}

header h1 {
  margin: 0 70px 0 0;
  padding: 30px 0 0;
  text-align: right;
  font-size: 4em;
  font-family: 'title';
}

header h2 {
  color: white;
  text-align: right;
  font-size: 1.5em;
  text-shadow: 1px 1px 0 black;
  padding: 12px 0 0;
}

header a:link, header a:visited {
  color: white;
  background-color: transparent;
  text-shadow: 2px 2px 0 rgba(0,0,0,.2);
  text-decoration: none;
}

#content {
  padding: 1em;
  max-width: 640px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, .75);
}

#content section {
  clear: both;
}

#content figure {
  float: left;
  margin: 0 1em 0 0;
}

#content figure a {
  background-color: transparent;
}

#content figure img {
  width: 160px;
  border: solid black 3px;
  -webkit-transform: matrix(1,-0.192,0,1,0,0);
  -moz-transform: matrix(1,-0.192,0,1,0px,0px);
  -ms-transform: matrix(1,-0.192,0,1,0,0);
  -o-transform: matrix(1,-0.192,0,1,0,0);
  transform: matrix(1,-0.192,0,1,0,0);
}

#content figure a img {
  border-color: black;
}

#content figure a img:hover {
  border-color: #00877C;
  border-radius: 3px;
}

#content p {
  margin: .5em 0;
}

#content aside {
  float: right;
  width: 75px;
  height: 120px;
  padding: 0 10px;
  margin: 0 0 0 1em;
  text-align: right;
  font-size: 1.2em;
}

#content aside ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#content aside ul li {
  margin: 0 0 .5em 0;
}

section section {
  margin: 1em;
}

#bio, .project {
  margin: 0 0 2em;
}

.project h1 {
  font-size: 1.5em;
  padding: 0;
  margin: 0 0 .5em;
}

.project h1 a {
  text-shadow: 2px 2px 0 black;
  text-decoration: none;
}

.project h2 {
  font-size: 1.1em;
  font-family: body;
  padding: 0 0 2px;
}

footer {
  text-align: center;
  background-color: #0f0f0f;
  color: #4d4d4d;
  padding: 1px 0 3px;
}

footer a:link, footer a:visited {
  background-color: #0f0f0f;
  color: #616161;
  background-color: transparent;
}

footer a:hover {
  color: #eaeaea;
  background-color: black;
}

#contact {
  display: none;
}


@media screen and (max-width: 640px) {
  header {
    height: 100px;
    text-align: center;
  }

  header h1 {
    padding: 15px 0 0 0;
  }

  .project h1 {
    padding: 3px 0 0;
    margin: 0 0 .3em;
  }

  #content figure img {
    width: 130px;
  }
}

@media screen and (max-width: 480px) {
  #content figure img {
    width: 100px;
  }
}
